## 
## Sample config file - edit this and save it as ~/.shrill/config
## Lines beginning with '#' are ignored.
##

## what server we are talking to
# mserv_server = localhost 
# mserv_port = 4444

## what user we are
# mserv_user = user
# mserv_pass = pass

## where mserv stores .trk files
# mserv_meta_dir = /var/lib/mserv/.mservtrackinfo

## where you store your music files
# music_dir = /path/to/music

## UI config
# fullscreen = 1
# chooser_rows = 2
# chooser_cols = 3
# broken_image_file = /usr/share/shrill/noart.jpg
# gtkrc_file = /usr/share/shrill/shrill.gtkrc
# glade_file = /usr/share/shrill/jukebox.glade

## issue a play command when starting up?
# play_on_start = 0
## issue stop command when exiting?
# stop_on_exit = 0

## spew a lot of extra output
# debug = 0

## Key bindings
# key_prev_page = Page_Up
# key_next_page = Page_Down
# key_activate = Return
# key_escape = Escape
# key_play = x
# key_next_track = c
# key_stop = v
# key_quit = q
